html, body {
    color: #2E2E2E !important;
    font-family: 'Dosis', sans-serif !important;
}

body {
    background: url("./Resources/14background.png") 100% no-repeat;
    width: 1920px;
    height: 1080px;
}

main {
    background: url("./Resources/12furniture.png") no-repeat right bottom, url("./Resources/2door.png") top left;
    height: 100%;
}

#navMenu {
    position: fixed;
    top: 0;
    left: 0;
    /* display: grid; */
}

#boardCon {
    background: url("./Resources/9board.png") no-repeat top left;
    width: 373px;
    height: 319px;
}

#whitepaperCon {
    background: url("./Resources/13whitepaper.png") no-repeat top left;
    width: 272px;
    height: 359px;
}

#portraitCon {
    background: url("./Resources/11potrait.png") no-repeat top left;
    width: 278px;
    height: 222px
}

#computerCon {
    background: url("./Resources/10computer.png") no-repeat top left;
    width: 675px;
    height: 358px;
}

#bookCon {
    background: url("./Resources/7book.png") no-repeat top left;
    width: 161px;
    height:191px;
}

#mapCon {
    background: url("./Resources/8map.png") no-repeat top left;
    width: 256px;
    height: 169px;
}

#machineCon {
    background: url("./Resources/6machine.png") no-repeat top left;
    width: 315px;
    height: 244px;
}

#piggybankCon {
    background: url("./Resources/5piggybank.png") no-repeat top left;
    width: 174px;
    height: 114px;
}

#faqCon {
    background: url("./Resources/1faq.png") no-repeat top left;
    width: 255px;
    height: 169px;
}

#wheelCon {
    background: url("./Resources/4wheel.png") no-repeat top left;
    width: 172px;
    height: 178px;
}

#chestCon {
    background: url("./Resources/3chest.png") no-repeat top left;
    width: 161px;
    height: 123px;
}

.shadow {

}