html, body {
    color: #2E2E2E !important;
    font-family: 'Dosis', sans-serif !important;
}

main#app, #init {
    width: 1920px;
    height: 1080px;
}
main#main {
    background: url("../Resources/Website\ image\ \(Background+Elements\).png") 100% no-repeat;
    width: 1920px;
    height: 1080px;
}

#navMenu {
    position: fixed;
    top: 0;
    left: 0;
}

#teamHeader {
    background-image: url("../Resources/logo1.png");
    background-repeat: space;
    background-position: center;
}

#machineHeader {
    background-image: url("../Resources/machineHeader.png");
    background-repeat: space;
    background-position: center;
}
#piggyHeader {
    background-image: url("../Resources/pigHeader.png");
    background-repeat: space;
    background-position: center;
}
#faqHeader {
    background-image: url("../Resources/faqHeader.png");
    background-repeat: space;
    background-position: center;
}

#pageCon {
    background-image: url("../Resources/Page.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2E2E2E !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0085FF !important;
}
